@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

*{
  font-family: pretendard;
}

body{
  background-color: rgba(0, 0, 0, 0.6);
}

.item-list{
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.box-layout{
  display: flex;
  box-sizing: border-box;
  padding: 12px;
  background-color: black;
  color: white;
  align-items: center;
  width: 311px;


  img{
    padding-right: 20px;
  }
}